<!-- <form action="/tasks" method="post">
  <label for="name">Task: </label>
  <input type="text" name="task[name]" id="name">

  <label for="details">Details: </label>
  <input type="text" name="task[details]" id="details">

  <input type="submit">
</form>
 -->

<%= render 'form' %>
